<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page avec Robot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popup_style.css') }}">
</head>
<body>
    <div id="floating_side_menu" class="invisible">
        <div class="header">
            <h1 class="title">Menu</h1>
            <span id="menu_cross" class="cross">&times;</span>
        </div>
        <div class="hamburger_trait"></div>
        <div class="main">
            <div id="help_btn">
                <span id="icone">&times;</span>
                <p>Assistance</p>
            </div>
        </div>
    </div>
    
    <div>
        <header>
            <div id="hamburger_btn" class="hamburger">
                <div class="hamburger_trait"></div>
                <div class="hamburger_trait"></div>
                <div class="hamburger_trait"></div>
            </div>
            <div class="menu">
                <div class="menu_btn" id="histoire_btn">Histoire</div>
                <div class="menu_btn" id="math_btn">Math</div>
            </div>
        </header>

        <main>
            <div id="popup_menu" class="invisible">
                <h1>Vous avez terminé tous les exercices félicitations !</h1>
                <p>Vous pouvez cliquer ci dessous pour rafraichir la page.</p>
                <button id="popup_btn">OK</button>
            </div>
            <div id="error_menu" class="popup_menu invisible">
                <h1>Erreur</h1><p id="error_explain"></p>
                <button id="error_btn">OK</button>
            </div>
            <div class="robot">
                <img id="feedbackImage" src="{{ url_for('static', filename='images/neutre.png') }}" alt="Description of image" class="main-image">
            </div>            
            <div class="the_block" id="history_text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa facere, sed aspernatur iure natus velit nobis architecto harum dolorum, voluptatum amet voluptatibus exercitationem sint, delectus non soluta? Distinctio, modi rerum?</p>
            </div>
            <div id="math_zone">
                <div id="list_exos"></div>
                <div class="exercice" id="exo">
                    <p>5 + </p>
                    <textarea id="answer" class="answer_area">?</textarea>
                    <p> = 12</p>
                </div>
                <p id="errorArea" class="error invisible">No error</p>
                <div id="maths_btn">
                    <div id="retour_btn" style="display:none">Retour</div>
                    <div id="valider_btn">Valider</div>
                    <div id="next_btn" style="display:none">Suivant</div>
                </div>
            </div>
        </main>

        <footer></footer>
    </div>

    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
