<!-- popup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/popup_style.css') }}">
    <title>Popup</title>
    <style>
        
    </style>
</head>
<body>
    <div class="popup">
        <h2>Langue</h2>
        <button class="close-btn" onclick="window.close()">&times;</button>
        <div class="image-container">
            <img src="image1.jpg" alt="Image 1">
            <img src="image2.jpg" alt="Image 2">
        </div>
    </div>
</body>
</html>
